- content_for :head do
  %title Computación Gráfica 1 - Francisco Tufró

%h2 Trabajos prácticos

%ol
  %li= link_to 'Discretización de segmentos de linea con DDA y Bressenham; Discretización de triángulos con Gouraud shading.', 'tp1.html', :relative => true
  %li= link_to 'Representación con grafo de escena.', 'tp2.html', :relative => true
  %li= link_to 'Curvas Bézier y B-Splines cúbicos uniformes.', 'tp3.html', :relative => true

  