!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    
    = javascript_include_tag "jquery", "sylvester"
    = javascript_include_tag "lib/item", "lib/framebuffer", "lib/color"
    = javascript_include_tag "lib/point", "lib/segment", "lib/triangle"
    = javascript_include_tag "lib/bezier.js", "lib/bspline.js"
    = javascript_include_tag "lib/renderEngine"

    = stylesheet_link_tag "site.css"
    = yield_content :head

  %body{ :class => page_classes } 

    %main{ :role => "main" }
      %h1 Computación Gráfica 1 - Francisco Tufró
    
      = yield
  
    = yield_content :bottom