- content_for :head do
  %title TP1 Computación Gráfica 1 - Francisco Tufró

%h2 Trabajo Práctico 1

%h3 1 Discretización de segmentos de línea

%h4 1.a DDA

#tp1ej1.ejercicio
  %canvas#tp1ej1_canvas
  .options
    = form_tag '', :class => 'tp1ej1' do
      Definición del segmento:
      %fieldset
        %legend x0
        %br
        = label_tag :x, :for => :tp1ej1_x0
        = input_tag :text, :id => :tp1ej1_x0, :value => 200
        %br
        = label_tag :y, :for => :tp1ej1_y0
        = input_tag :text, :id => :tp1ej1_y0, :value => 200

      %fieldset
        %legend x1
        %br
        = label_tag :x, :for => :tp1ej1_x1
        = input_tag :text, :id => :tp1ej1_x1, :value => 400
        %br
        = label_tag :y, :for => :tp1ej1_y1
        = input_tag :text, :id => :tp1ej1_y1, :value => 400
      

%h4 1.b Bresenham

#tp1ej1b.ejercicio
  %canvas#tp1ej1b_canvas
  .options
    = form_tag '', :class => 'tp1ej1b' do
      Definición del segmento:
      %fieldset
        %legend x0
        %br
        = label_tag :x, :for => :tp1ej1b_x0
        = input_tag :text, :id => :tp1ej1b_x0, :value => 200
        %br
        = label_tag :y, :for => :tp1ej1b_y0
        = input_tag :text, :id => :tp1ej1b_y0, :value => 200

      %fieldset
        %legend x1
        %br
        = label_tag :x, :for => :tp1ej1b_x1
        = input_tag :text, :id => :tp1ej1b_x1, :value => 400
        %br
        = label_tag :y, :for => :tp1ej1b_y1
        = input_tag :text, :id => :tp1ej1b_y1, :value => 400

%h3 2 Discretización de triángulos con Gouraud shading
#tp1ej2.ejercicio
  %canvas#tp1ej2_canvas
  .options
    = form_tag '', :class => 'tp1ej2' do
      Definición del triángulo:
      %fieldset
        %legend x0
        %br
        = label_tag :x, :for => :tp1ej2_x0
        = input_tag :text, :id => :tp1ej2_x0, :value => 10
        %br
        = label_tag :y, :for => :tp1ej2_y0
        = input_tag :text, :id => :tp1ej2_y0, :value => 10
        %br
        = label_tag :r, :for => :tp1ej2_r0
        = input_tag :text, :id => :tp1ej2_r0, :value => 1
        %br
        = label_tag :g, :for => :tp1ej2_g0
        = input_tag :text, :id => :tp1ej2_g0, :value => 0
        %br
        = label_tag :b, :for => :tp1ej2_b0
        = input_tag :text, :id => :tp1ej2_b0, :value => 0

      %fieldset
        %legend x1
        %br
        = label_tag :x, :for => :tp1ej2_x1
        = input_tag :text, :id => :tp1ej2_x1, :value => 200
        %br
        = label_tag :y, :for => :tp1ej2_y1
        = input_tag :text, :id => :tp1ej2_y1, :value => 390
        %br
        = label_tag :r, :for => :tp1ej2_r1
        = input_tag :text, :id => :tp1ej2_r1, :value => 0
        %br
        = label_tag :g, :for => :tp1ej2_g1
        = input_tag :text, :id => :tp1ej2_g1, :value => 1
        %br
        = label_tag :b, :for => :tp1ej2_b1
        = input_tag :text, :id => :tp1ej2_b1, :value => 0
      
      %fieldset
        %legend x2
        %br
        = label_tag :x, :for => :tp1ej2_x2
        = input_tag :text, :id => :tp1ej2_x2, :value => 390
        %br
        = label_tag :y, :for => :tp1ej2_y2
        = input_tag :text, :id => :tp1ej2_y2, :value => 200
        %br
        = label_tag :r, :for => :tp1ej2_r2
        = input_tag :text, :id => :tp1ej2_r2, :value => 0
        %br
        = label_tag :g, :for => :tp1ej2_g2
        = input_tag :text, :id => :tp1ej2_g2, :value => 0
        %br
        = label_tag :b, :for => :tp1ej2_b2
        = input_tag :text, :id => :tp1ej2_b2, :value => 1


- content_for :bottom do
  = javascript_include_tag 'tp1ej1', 'tp1ej2'
  