- content_for :head do
  %title TP2 Computación Gráfica 1 - Francisco Tufró


%h2 Trabajo Práctico 2

%h3 Representación con grafo de escena

#tp2.ejercicio
  %canvas#tp2_canvas
  .options
    = form_tag '', :class => 'tp2' do
      %fieldset
        %legend Cantidad de hojas
        %br
        = label_tag :hojas, :for => :tp2_hojas
        = input_tag :text, :id => :tp2_hojas, :value => 200


- content_for :bottom do
  = javascript_include_tag 'tp2'
