- content_for :head do
  %title TP3 Computación Gráfica 1 - Francisco Tufró


%h2 Trabajo Práctico 3 Curvas Bézier y B-Splines cúbicos uniformes.

%h3 Bézier

#tp3_bezier.ejercicio
  %canvas#tp3_bezier_canvas


%h3 B-Splines

#tp3_bsplines.ejercicio
  %canvas#tp3_bsplines_canvas

- content_for :bottom do
  = javascript_include_tag 'tp3'
